@charset "UTF-8";

body,
button,
input,
select,
textarea {
	font-family: 'Open Sans', sans-serif;	
}

/* links ------ */
a {
	color: #337ba3;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: #000;
	text-decoration: underline;
}

/* buttons ------ */
.button {
	font-size: 12px;
	line-height: 1.4167em;
	color: #fff;
	padding: .25em 12px;
	border: 1px solid #a6a6a6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	white-space: nowrap;
	outline: none;
	cursor: pointer;
	background-color: #a6a6a6;
}
#addto-mamajamas .button {
	font-size: 1em;
}
a.button {
	text-align: center;
}
.button em {
	font-style: normal;
}
a.button:hover,
a.button:focus,
a.button:active { /* applied event to custom-color buttons */
	color: #fff;
	border-color: #333 !important;
	background: #333 !important;
	text-decoration: none;
}
.bt-color {
	border-color: #5daf5d;
	background: #6BB36E;
}
.button.disabled,
a.button.disabled:hover,
a.button.disabled:focus,
a.button.disabled:active { /* disabled buttons */
	color: #d9d9d9 !important;
	background: #fff !important;
	border-color: #e7e7e7 !important;
	cursor: default;
}
.button .ss-icon {
	position: relative;
	top: .2em;
	font-size: 1.33em;
	line-height: .55em;
	margin-right: 0.2em;
}
.ss-plus {
	line-height: 1;
	margin-right: 6px;
	font-size: 0.75em;
}
.ie8 .button {
	padding: 3px 15px 3px 15px;
}

/* general window styles */
.modal-box {
	position: relative;
	float: right;
	margin: 30px 30px 0 0;
	width: 540px;
	z-index: 4003;
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}
a.ss-icon {
	color: #a6a6a6;
}
a.ss-icon:hover,
a.ss-icon:active,
a.ss-icon:focus {
	color: #555;
	text-decoration: none;
}
a.ss-icon span {
	position: relative;
	top: .25em;
	font-size: 1.23em;
	line-height: .85em;
	margin-right: 0.2em;
}
.bt-close {
	font-size: 13px;
	position: absolute;
	top: 11px;
	right: 11px;
	color: #c9c9c9;
	z-index: 2000;
}

/* form elements ------ */
input[type=email],
input[type=text],
input[type=password],
textarea {
	outline: none;
	padding: .25em .5em;
	border: solid 1px #bbb;
	border-radius: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	border-color: #999;
}
label {
	color: #777;
}
textarea, select, input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* ratings ------ */
.rating .stars {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	color: #d9d9d9;
}
.ss-star,
.ss-halfstar {
	float: left;
	position: relative;
	cursor: pointer;
}
.star {
	width: 24px;
	height: 28px;
	float: left;
	position: relative;
	background: url(../images/icon_rating-stars@2x.png) no-repeat 0 0;
	background-size: 24px 90px;
	cursor: pointer;
}
.star-half {
	background-position: 0 -32px;
}
.star-full {
	background-position: 0 -64px;
}
.rating span {
	color: #888;
	margin-right: 3px;
}

/* styles unique to "add to" window */
body {
	background:rgba(255,255,255,0);
}
h2 {
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
	color: #995e9a;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 0 0 5px;
	padding: 10px 20px 10px 70px;
}
h2 strong {
	font-weight: 600;
}
h3 {
	font-size: 1.33em;
	font-weight: 400;
	margin: .75em 0 .5em;
	border-bottom: 1px solid #ccc;
}
label {
	color: #898989;
}
textarea {
	margin: .25em 0 0 0;
}
#addto-mamajamas .content {
	color: #7c7c7c;
	position: relative;	
	padding: 10px 20px 20px 70px;
}
#addto-mamajamas .content,
#addto-mamajamas select,
#addto-mamajamas textarea {
	font-size: 1.07em;
}
#addto-mamajamas .logo {
	background:url(../images/bookmark-sm.png) no-repeat 0 0;
	width: 40px;
	height: 81px;
	position: absolute;
	top: -45px;
	left: 10px;
	z-index: 2050;
}
#addto-mamajamas .col1 {
	float: left;
	width: 23.5%;
	margin-right: 20px;
}
#addto-mamajamas .col2 {
	float: left;
	width: 72%;
}
.prod-image-frame ul,
.prod-image-frame li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.prod-image-frame li {
	width: 104px;
	height: 104px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.prod-image-frame img {
	height: 100px;
	max-width: 100%;
}
#addto-mamajamas .bx-wrapper .bx-controls-direction a {
	margin-top: 0;
	top: 103%;
}
.form-row {
	margin: 0 0 .75em ;
}
.form-row label {
	width: 25%;
	display: inline-block;
}
#addto-mamajamas label {
	color: #898989;
}
#addto-mamajamas textarea {
	width: 100%;
}
#additem-name {
	color: #222;
	font-weight: 600;
} 
#addto-mamajamas .rating em {
	margin-right: 2px;
	font-style: normal;
	color: #898989;
	display: inline-block;
	width: 25%;
}
#additem-field-cat,
#additem-field-type {
	width: 60%;
}

