@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. 

@media only screen and (min-width: 481px) {

}*/


/* Default layout */

.gridContainer,
.modal-scaling {
	width: 960px;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#branding {
	clear: both;
	float: left;
	margin-left: 0;
	width: 16.667%;
	display: block;
}
#mainnav {
	clear: none;
	float: left;
	width: 40.625%;
	display: block;
}
#search {
	clear: none;
	float: left;
	width: 16.667%;
	display: none;
	position:relative;
}
#login {
	clear: none;
	float: right;
	margin-left: 2%;
	width: 12.0625%;
	display: block;
}
#progress {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#title {
	clear: both;
	float: left;
	padding: 10px 0 11px;
	width: 100%;
	display: block;
}
#title.fixed {
	top: 0;
	margin: auto;
    max-width: 1232px;
    width: 96%;
}
#subhed {
	clear: both;
	float: left;
	margin-left: 0;
	width: 71.875%;
	display: block;
}
#title-links {
	clear: none;
	float: right;
	margin-left: 0;
	padding: 0;
	width: 26.042%;
	display: block;
}
#primary {
	clear: both;
	float: left;
	margin-left: 0;
	width: 16.667%;
	display: block;
	border:none;
}
#secondary {
	clear: none;
	float: left;
	width: 70.625%;
	display: block;
}
#secondary > .content {
	min-height: 450px;
	position: relative;
}
#tertiary {
	clear: none;
	float: right;
	width: 16.6666%;
	display: block;
	border:none;
}
#footer {
    position: fixed;
	bottom: 0;
}
#footer .content {
   position: relative;
   padding: 15px 0 10px 3px;
   left: 7px;
	width: 40px;
}

/* layout adjustments for build list */
#buildlist #secondary {
	width:83.1%;
}
#buildlist #tertiary {
	display:none;
}
#buildlist #secondary > .content {
	min-height:455px;
}

/* layout adjustments for published list */
#publist #title {
	width: 83.1%;
}
#publist #secondary {
	width: 66.4333%;
	min-height: 820px;
}
#publist #tertiary {
	margin-top:-7.3em; /* shift up to title area */
}
#title .pubdate {
	float: right;
	margin-right: 10px;
	width: 26.042%;
}

/* layout adjustments for create my profile */
#create-profile #subhed {
	width:40%;
}
#create-profile #primary {
	width:28%;
}
#create-profile #primary > .content {
	padding-top:20px;
	padding-left:48%;
}
#create-profile #secondary {
	width:52%;
	margin-left:20px;
}

/* layout adjustments for form page */
.form-page #subhed {
	width:47.92%;
	margin-left:24%;
	padding-left:20px;
	float:none;
}
.form-page #title .instruction {
	margin-left:26%;
}
.form-page #primary {
	width:24%;
}
.form-page #secondary {
	width:47.92%;
	margin-left:20px;
}
.form-page #tertiary {
	width:24%;
}

/* layout adjustments for text pages (3, 6, 3) */
.text-page #subhed,
.layout_3-6-3 #subhed {
	margin-left:24%;
	padding-left:20px;
	float:none;
}
.text-page #title-links,
.layout_3-6-3 #title-links {
	padding:0;
}
.text-page #primary,
.layout_3-6-3 #primary {
	width:24%;
}
.text-page #secondary,
.layout_3-6-3 #secondary {
	width:47.92%;
	margin-left:20px;
}
.text-page #tertiary,
.layout_3-6-3 #tertiary {
	width:24%;
}

/* layout 2, 7, 3 */
.layout_2-7-3 #subhed {
	margin-left:15.625%;
	padding-left:20px;
	float:none;
}
.layout_2-7-3 #title-links {
	padding:0;
}
.layout_2-7-3 #primary {
	width:15.625%; /* 150px/960px */
}
.layout_2-7-3 #secondary {
	width:56.25%; /* 540px/960px */
	margin-left:20px;
}
.layout_2-7-3 #tertiary {
	width:23.958%; /* 230px/960px */
}


/* layout for home page */
.home #primary {
	float:none;
	height:315px;
	width:100%;
	position:relative;
}
.home #primary > .content {
	padding:0 0 0 9.375%;
}
.home #secondary {
	width: 57.29%;
	position:relative;
}
.home #secondary > .content {
	min-height:0;
	padding:75px 0 65px 16.36%;
}
.home #tertiary {
	width: 40.625%;
}
.home #tertiary > .content {
	padding:75px 23.08% 65px 2.56%;
}
.home #footer {
	position: static;
   clear: both;
   display: block;
   float: left;
   margin-left: 0;
   width: 100%;
	max-width: 1232px;
}
.home #footer .content {
	position: static;
	padding: 8px 1.05%;
	width: auto;
}

/* list intro position */
#listintro.modal-box {
	left: 56.5%;
}

/* Large screen layout */

@media only screen and (min-width: 1000px) {

.gridContainer,
.modal-scaling {
	width:96%;
	max-width: 1232px;
	margin: auto;
	}

}

@media only screen and (min-width: 1245px) {

/* list intro position */
#listintro.modal-box {
	left: 55%;
}

}