@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. 

@media only screen and (min-width: 481px) {

}*/


/* Default layout */

.gridContainer,
.modal-scaling {
	width: 960px;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#branding {
	clear: both;
	float: left;
	margin-left: 0;
	width: 57.6271%;
	display: block;
}
#search {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 23.7288%;
	display: block;
}
#login {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 15.2542%;
	display: block;
}
#progress {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
}
#subhed {
	clear: both;
	float: left;
	margin-left: 0;
	padding:7px 0;
	/*width: 49.1525%;*/
	width:65.6%;
	display: block;
}
#title-links {
	clear: none;
	float: right;
	margin-left: 0;
	padding:7px 0;
	width: 32.2033%;
	display: block;
}
#primary {
	clear: both;
	float: left;
	margin-left: 0;
	width: 12.5%;
	display: block;
	border:none;
}
#secondary {
	clear: none;
	float: left;
	width: 70.625%;
	display: block;
}
#secondary .content {
	padding:4px 0;
	min-height:450px;
	position:relative;
}
#tertiary {
	clear: none;
	float: right;
	width: 16.6666%;
	display: block;
	border:none;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer .content {
	padding:8px 1.05%;
}

/* layout adjustments for build list */
#buildlist #title {
	width:83.333%;
}
#buildlist #tertiary {
	padding-top:3.5em;
	margin-top:-6.25em;
}
#buildlist #subhed {
	width:74.5%;
}
#buildlist #title-links {
	width: 25%;
    border-right: 1px solid #D9D9D9;
}
#buildlist #secondary .content {
	padding:1px 1px 20px 3px;
	min-height:455px;
}

/* layout adjustments for published list */
#publist #title {
	width:83.333%;
}
#publist #tertiary {
	margin-top:-6.583em;
}
#publist #subhed {
	width:74.5%;
}
#publist #title-links {
	width: 24.5%;
}
#publist #secondary .content {
	padding:1px 1px 20px 3px;
	min-height:500px;
}
#title .pubdate {
	float:left;
	width: 24.5%;
	padding-top:11px;
}

/* layout adjustments for create my profile */
#create-profile #subhed {
	width:39.5%;
}
#create-profile #primary {
	width:28%;
}
#create-profile #primary .content {
	padding-top:20px;
	padding-left:48%;
}
#create-profile #secondary {
	width:52%;
	margin-left:20px;
}

/* layout adjustments for form page */
.form-page #subhed {
	width:47.92%;
	margin-left:24%;
	padding-left:20px;
	float:none;
}
.form-page #title .instruction {
	margin-left:26%;
}
.form-page #primary {
	width:24%;
}
.form-page #secondary {
	width:47.92%;
	margin-left:20px;
}
.form-page #tertiary {
	width:24%;
}

/* layout adjustments for text pages */
.text-page #subhed {
	margin-left:24%;
	padding-left:20px;
	float:none;
}
.text-page #primary {
	width:24%;
}
.text-page #secondary {
	width:47.92%;
	margin-left:20px;
}
.text-page #tertiary {
	width:24%;
}

/* layout for home page */
.home #primary {
	float:none;
	height:315px;
	width:100%;
	position:relative;
}
.home #primary .content {
	padding:0 0 0 9.375%;
}
.home #secondary {
	width: 57.29%;
	position:relative;
}
.home #secondary .content {
	min-height:0;
	padding:75px 0 65px 16.36%;
}
.home #tertiary {
	width: 40.625%;
}
.home #tertiary .content {
	padding:75px 23.08% 65px 2.56%;
}

/* list intro position */
#listintro.modal-box {
	left: 56.5%;
}

/* Large screen layout */

@media only screen and (min-width: 1000px) {

.gridContainer,
.modal-scaling {
	width:96%;
	max-width: 1232px;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}

}

@media only screen and (min-width: 1245px) {

/* list intro position */
#listintro.modal-box {
	left: 55%;
}

}