@charset "UTF-8";
/* CSS Document */

.vertical-offset { /* determines vertical positioning */
	float: left;
	height: 270px;
    margin-bottom: -220px;
}
.quiz-box {
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: 740px;
	min-height:377px;
	position: relative;
	z-index: 40003;
	left: 50%;
	margin-left: -370px; /* half of the width */
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}
	.oldie .quiz-box {
		top:75px;
		border: 1px solid #c9c9c9;
	}
.quiz-box-s {
	min-height:377px;
}
#quiz-modal.simplemodal-data,
.quiz-modal.simplemodal-data {
	width: 740px;
	}
#quiz-modal.simplemodal-data input[type=email],
#quiz-modal.simplemodal-data input[type=text],
#quiz-modal.simplemodal-data input[type=password],
#quiz-modal.simplemodal-data label {
	font-size: 1em;
	width: auto;
	text-align: center;
}

/* modal box typography, colors and spacing */
.quiz-box .content,
.quiz-box-s .content {
	font-size:184.6%;
	font-weight:300;
	color: #000;
	padding: 25px 20px;
	text-align:center;
}
.quiz-box .content label,
.quiz-box-s .content label {
	color: #000;
}
.quiz-box.large .content,
.quiz-box-s.large .content,
.simplemodal-data .quiz-box-s.large .content {
	font-size: 261.5%;
	line-height:1.323;
}
.quiz-box h2 {
	font-size: 1em;
	font-weight: 300;
	line-height: 1em;
	color: #333;
	margin: 0 0 .5em;
	text-align: left;
}
.quiz-box h3 {
	font-size: 1em;
	font-weight: 300;
	color: #407c40;
	margin: .75em 0 .5em;
	text-align: left;
}
.quiz-box h3 em.info-link {
	font-size: .75em;
	font-style: normal;
	float: right;
	margin-top: .4em;
}
.quiz-box .label-infield input[type=text],
.quiz-box-s .label-infield input[type=text] {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
.quiz-box input[type=checkbox],
.quiz-box-s input[type=checkbox] {
	vertical-align: middle;
}
.quiz-box .status-msg,
.quiz-box-s .status-msg {
	width: 37%;
	position: absolute;
	top: 0;
	right: 0;
}
.quiz-box .pw-strong, .quiz-box .pw-good, .quiz-box .pw-weak,
.quiz-box-s .pw-strong, .quiz-box-s .pw-good, .quiz-box-s .pw-weak { 
	top: .5em;
}
.quiz-box .note,
.quiz-box-s .note {
	text-align: center;
	margin-top: 1em;
}
.quiz-box .button-row,
.quiz-box-s .button-row {
	position:absolute;
	bottom:0;
	margin: 1px;
	padding: 10px 20px 8px;
	width:698px;
	text-align: center;
	border-top: none;
	background:#f6f4f2;
}
.quiz-box .divider,
.quiz-box-s .divider {
	border-top: 1px solid #d3d3d3;
	text-align: center;
	margin-top: 2em;
}
.quiz-box .divider strong,
.quiz-box-s .divider strong {
	background: #fff;
	padding: 0 5px;
	position: relative;
	top: -.7em;
}

/* quiz choice elements --------- */
.q-question {
	margin-bottom:1em;
}

/* lists */
.q-question fieldset ul {
    margin: 0 0 0.75em;
    padding: 0 2em 0 3em;
	text-align: left;
	list-style-type: none;
}
.q-question fieldset li {
	list-style-type: none;
    margin: 0 0 1em;
}
.q-question li input {
	vertical-align: middle;
	margin-right: 5px;
}

/* dropdown menus */
div.choicedrop {
	display:inline-block;
	text-align:left;
	border:solid 1px #D9D9D9;
	position:relative;
}
	.ie7 div.choicedrop {
		display:inline;
		zoom:1;
	}
.choicedrop a {
	color:#000;
	display:block;
	padding:0 3px;
	text-decoration:none;
}
.choicedrop .ss-dropdown {
	font-size:58.8%;
	color:#CCC;
	margin:0 8px;
}
.choicedrop a:hover {
	color:#808080;
	text-decoration:none;
}
.choicedrop:hover {
	border-color:#D9D9D9;
}
.choicedrop:hover .ss-dropdown {
	color:#000;
}
.choicedrop ol,
.choicedrop ul {
	list-style-type:none;
	margin:0;
	padding:0;
	border:solid 1px #D9D9D9;
	background:#FFF;
	box-shadow:0 1px 2px rgba(0,0,0,0.4);
	position:absolute;
	top:-1px;
	left:-1px;
	right:-1px;
	z-index:6000;
	/*display:none;*/
}
.choicedrop ul li,
.choicedrop ol li {
	margin:0;
	padding:0.17em 0 0.25em 20px;
	text-indent:-20px;
	line-height:1;
}
.choicedrop li a:hover {
	color:#5baa5d;
}

/* multiple choice, slider thumbs */
.q-multi,
.q-slider {
	list-style-type:none;
	margin:25px 0 0;
	padding:0;
}
.q-multi li,
.q-slider li {
	display:inline-block;
	position:relative;
	width:220px;
	margin-left:13px;
	background:#F3F3F3;
}
	.ie7 .q-multi li,
	.ie6 .q-multi li,
	.ie7 .q-slider li,
	.ie6 .q-slider li {
		display:inline;
		zoom:1;
	}
.q-multi li:first-child,
.q-slider li:first-child {
	margin-left:0;
}
.q-multi li a,
.q-slider li a {
	display:block;
	height:220px;
}
.q-multi a:hover,
.q-slider a:hover {
	text-decoration:none;
}
.q-multi strong,
.q-slider strong { /* item label */
	display: block;
	padding: .35em 0 0.4em;
	font-size: .667em;
	font-weight: 300;
	text-transform: lowercase;
	text-align: center;
	color: #FFF;
	background: #444;
	position: absolute;
	top: auto;
	bottom:0;
	left:0;
	z-index:2000;
	width:100%;
	height:auto;
	overflow: hidden;
	opacity: .85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=85)"; /*IE8*/
}
.q-multi a:hover strong,
.q-slider a:hover strong { 
	opacity: .95;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=95)"; /*IE8*/
}
div.checked { /* checkbox overlay for selected item */
	position:absolute;
	top:0;
	left:0;
	z-index:2500;
	background-image:none;
	box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.08) inset; /* innershadow at box edges */
	width:220px;
	height:220px;
}
.q-selected div.checked { /* adding class ".q-selected" to list item makes checkbox overlay visible */
	background-image:url(../images/quiz/q_checked.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:220px 221px;
}
	.oldie div.checked {
		border:solid 1px #eee;
		width:218px;
		height:218px;
	}

/* slider items */
.q-slider li:first-child {
	margin-right:125px;
	margin-left:0;
}
.q-slider li {
	margin-left:125px;
}
#q-sliderscale {
	width:254px;
	height:30px;
	background:url(../images/quiz/slider-scale.png) no-repeat 0 50%;
	background-size:254px 30px;
	position:relative;
	top:-120px;
	left:50%;
	margin-left:-127px;
}
#q-sliderarrow {
	width:44px;
	height:40px;
	position:absolute;
	top:-21px;
	left:105px; /* middle position: half of container width minus half of arrow width */
	/* left:-21px; far left */
	/* left:41px; left 1 tick */
	/* left:166px; right 1 tick */
	/* left:229px;  far right */
	background:url(../images/quiz/sliderarrow.png) no-repeat;
	background-size:132px 50px;
	cursor:pointer;
}
#q-sliderarrow.default {
	background-position:-44px 0;
}
#q-sliderarrow.active {
	background-position:-88px 0;
}
#q-sliderarrow:hover {
	background-position:1px 0;
}

/* in-field labels */
.quiz-box .label-infield input[type=email], 
.quiz-box .label-infield input[type=text], 
.quiz-box .label-infield input[type=password],
.quiz-box-s .label-infield input[type=email], 
.quiz-box-s .label-infield input[type=text], 
.quiz-box-s .label-infield input[type=password] {
	font-size: 1em;
	padding: 0 .5em;
	border: solid 1px #d9d9d9;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.quiz-box form.label-infield label,
.quiz-box-s form.label-infield label {
	font-size: 1em;
	line-height:1;
	color: #DDD;
}
.quiz-box form.label-infield fieldset p label,
.quiz-box-s form.label-infield fieldset p label {
	display: block;
	margin: .12em .5em;
}

/* buttons */
.quiz-box button, 
.quiz-box .button,
.quiz-box-s button, 
.quiz-box-s .button {
	font-family: 'Open Sans', sans-serif;
	padding: 5px 25px .35em;
	border: none;
	background-color: #c7c7c7;
	text-transform:uppercase;
	letter-spacing:.15em;
}
.simplemodal-data .quiz-box-s .button-row button,
.simplemodal-data .quiz-box-s .button-row .button {
	font-size: 12px;
}
.quiz-box .bt-color,
.quiz-box-s .bt-color {
	background: #874789;
}
span.ss-navigateleft,
span.ss-navigateright {
	position:relative;
	top:1px;
	opacity:0.7;
}
#bt-start {
	margin-top:30px;
}
#bt-start,
#bt-next {
	padding-left: 32px;
}
#bt-prev {
	padding-right: 32px;
}
#bt-build {
	background: #5BAA5D;
}
.quiz-box .button-row p,
.quiz-box-s .button-row p {
	font-size:1.077em;
	color:#808080;
	position:absolute;
	left:50%;
	width:50%;
	margin-left:-185px;
	padding:5px 0 0;
	text-align:center;
}
.quiz-box .button-row p a,
.quiz-box-s .button-row p a {
	color:#696969;
}
.quiz-box .button-row p a:hover,
.quiz-box-s .button-row p a:hover  {
	color:#000;
}
.skip {
	background:url(../images/quiz/icon_skip.png) no-repeat 0 0;
	background-size:18px 18px;
	margin-left:2px;
	padding-left:20px;
}


/* quiz progress */
#q-progress {
	width:160px;
	background:#FFF;
	border:solid 1px #C9C9C9;
	position:absolute;
	bottom:-28px;
	left:50%;
	margin-left:-80px; /* negative half of element width */
}
#q-progress .bar {
	background:#C9C9C9;
	height:10px;
}
#quiz01 .bar {
	width:11.11%;
}
#quiz02 .bar {
	width:22.22%;
}
#quiz03 .bar {
	width:33.33%;
}
#quiz04 .bar {
	width:44.44%;
}
#quiz05 .bar {
	width:55.55%;
}
#quiz06 .bar {
	width:66.66%;
}
#quiz07 .bar {
	width:77.77%;
}
#quiz08 .bar {
	width:100%; /* these questions switched order */
}
#quiz09 .bar {
	width:88.88%; /* these questions switched order */
}


/* specific quiz slides */
#quiz01 .content {
	text-align:center;
	padding:85px 140px 10px;
}

#quiz02 .content {
	font-size: 2.3em;
	text-align: left;
	padding: 45px 40px 10px 50px;
}
#quiz02 fieldset p {
	margin: 0;
}
#quiz02 input[type=text],
.simplemodal-data #quiz02 input[type=text] {
	width: 200px;
}
.quiz-box form.label-infield #q02-02 label,
.quiz-box-s form.label-infield #q02-02 label {
	color: #000;
}

#quiz04 .content {
	text-align:center;
}

#quiz06 .content {
	text-align:center;
}

#quiz08 .content {
	text-align:center;
	padding-top: 35px;
}
#quiz08  p {
	margin-top:.25em;
	height:50px;
}
#quiz08 .label-infield input[type=text] {
	width:360px;
	text-align:center;
}
	.oldie #quiz08 .label-infield input[type=text] {
		padding-top: .12em;
		}
#quiz08 label {
	width:360px !important;
	text-align:center;
	z-index:3000;
}
#quiz08 .label-infield input[type=text],
#quiz08 form.label-infield p label {
    position:absolute;
	left: 50%;
    margin-left:-175px;
}
#quiz08 .q-question {
	margin-bottom:.75em;
}
#quiz09 .q-question {
	padding-top:2em;
    color: #777777;
    font-size: 0.6667em;
}
#quiz09 .q-question fieldset {
    padding-right: 35%;
	position: relative;
}
#quiz09 .q-question ul {
	margin-bottom: 1.5em;
	margin-left: 27px;
	padding: 0;
}
#quiz09 .q-question li {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
#quiz09 input[type="radio"] {
	margin-left: -25px;
	cursor: pointer;
}
#quiz09 label {
    font-size: 1.5em !important;
    font-weight: 400;
}
#quiz09 .q-question .small {
	font-size: 0.8125em;
}
#quiz09 .q-question .ss-icon {
	color: #A6A6A6;
}
#quiz09 a:hover .ss-icon {
	color: #222;
}
#quiz09 .thumb {
	position: absolute;
	top: 0;
	right: 0; 
}
#quiz09 li:first-child .thumb {
	z-index: 40050;
}
#quiz09 li:hover .thumb {
	z-index: 40100;
}

/* modal gallery */
.gallery {
	background: #000;
	border-color: #000;
	color: #b6b6b6;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
.simplemodal-data .gallery {
	background: #000;
	border: none;
	box-shadow: none;
}
.gallery .content {
	font-size: 1em;
	color: #a6a6a6;
	text-align: left;
}
.gallery .content a {
	color: #93B9CE;
}	
.gallery .content a:hover {
	color: #FFF;
}	
.gallery h2 {
	color: #e6e6e6;
	font-size: 1.3845em;
	font-weight: 500;
	text-transform: none;
	letter-spacing: 0;
	margin: 0 0 .5em;
	padding: 0;
	background-color: transparent;
}
.gallery h2 .ss-icon {
	color: #969696;
	position: relative;
	top: 2px;
	margin-right: 2px;
}
.quiz-box .gallery-img,
.quiz-box-s .gallery-img {
	overflow: auto;
	max-height: 450px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),  
only screen and (-moz-min-device-pixel-ratio: 1.5),  
only screen and (-o-min-device-pixel-ratio: 3/2),  
only screen and (min-device-pixel-ratio: 1.5) {
	.skip {
		background-image:url(../images/quiz/icon_skip@2x.png);
	}
	div.checked { 
		background-image:none;
	}
	.q-selected div.checked { 
		background-image:url(../images/quiz/q_checked@2x.png);
	}
	#q-sliderscale {
		background-image:url(../images/quiz/slider-scale@2x.png);
	}
	#q-sliderarrow {
		background-image:url(../images/quiz/sliderarrow@2x.png);
 	}
}
