@charset "UTF-8";
/* CSS Document */

.vertical-offset { /* determines vertical positioning */
	float: left;
	height: 50%;
	margin-bottom: -270px; /* should be approx. half modal window height. a calculated height may be defined as an inline style. */
}
.quiz-box {
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: 740px;
	min-height:377px;
	position: relative;
	z-index: 40003;
	left: 50%;
	margin-left: -370px; /* half of the width */
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}
	.oldie .quiz-box {
		top:75px;
	border: 1px solid #c9c9c9;
	}

/* modal box typography, colors and spacing */
.quiz-box .content {
	font-size:184.6%;
	font-weight:300;
	color: #000;
	padding: 25px 20px;
}
.quiz-box.large .content {
	font-size: 261.5%;
	line-height:1.323;
}
.quiz-box h2 {
	font-size: 2em;
	font-weight: normal;
	line-height: 1em;
	color: #333;
	margin: 0;
	padding: 5px 20px 3px;
	border-bottom: 1px solid #c3c3c3;
}
.quiz-box h3 {
	font-size: 1.33em;
	font-weight: 300;
	color: #407c40;
	margin: .75em 0 .5em;
	border-bottom: 1px solid #ccc;
}
.quiz-box h3 em.info-link {
	font-size: .75em;
	font-style: normal;
	float: right;
	margin-top: .4em;
}
.quiz-box input[type=email], .quiz-box input[type=text], .quiz-box input[type=password], .quiz-box label {
	font-size: 1.33em; /* equiv to 16px, based on 12px base for modal window */
	width: 57%;
	text-align: left;
}
.quiz-box .status-msg {
	width: 37%;
	position: absolute;
	top: 0;
	right: 0;
}
.quiz-box .pw-strong, .quiz-box .pw-good, .quiz-box .pw-weak {
	top: .5em;
}
.quiz-box .note {
	text-align: center;
	margin-top: 1em;
}
.quiz-box .button-row {
	position:absolute;
	bottom:0;
	margin: 1px;
	padding: 10px 20px 8px;
	width:698px;
	text-align: center;
	border-top: none;
	background:#f6f4f2;
}
.quiz-box .divider {
	border-top: 1px solid #d3d3d3;
	text-align: center;
	margin-top: 2em;
}
.quiz-box .divider strong {
	background: #fff;
	padding: 0 5px;
	position: relative;
	top: -.7em;
}

/* quiz choice elements --------- */
.q-question {
	margin-bottom:1em;
}

/* dropdown menus */
div.choicedrop {
	display:inline-block;
	text-align:left;
	border:solid 1px #D9D9D9;
	position:relative;
}
	.ie7 div.choicedrop {
		display:inline;
		zoom:1;
	}
.choicedrop a {
	color:#000;
	display:block;
	padding:0 3px;
	text-decoration:none;
}
.choicedrop .ss-dropdown {
	font-size:58.8%;
	color:#CCC;
	margin:0 8px;
}
.choicedrop a:hover {
	color:#808080;
	text-decoration:none;
}
.choicedrop:hover {
	border-color:#D9D9D9;
}
.choicedrop:hover .ss-dropdown {
	color:#000;
}
.choicedrop ol {
	list-style-type:none;
	margin:0;
	padding:0;
	border:solid 1px #D9D9D9;
	background:#FFF;
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
	position:absolute;
	top:-1px;
	left:-1px;
	right:-1px;
	z-index:6000;
	/*display:none;*/
}
.choicedrop ol li {
	margin:0;
	padding:0.17em 0 0.17em 20px;
	text-indent:-20px;
	line-height:1;
}
.choicedrop li a:hover {
	color:#5baa5d;
}

/* multiple choice thumbs */
.q-multi {
	list-style-type:none;
	margin:25px 0 0;
	padding:0;
}
.q-multi li {
	display:inline-block;
	position:relative;
	width:220px;
	margin-left:13px;
	background:#F3F3F3;
}
	.ie7 .q-multi li,
	.ie6 .q-multi li {
		display:inline;
		zoom:1;
	}
.q-multi li:first-child {
	margin-left:0;
}
.q-multi a {
	display:block;
	height:220px;
}
.q-multi a:hover {
	text-decoration:none;
}
.q-multi strong { /* item label (hidden until hover) */
	display: block;
	padding: .35em 0 0.4em;
	font-size: .667em;
	font-weight: 300;
	text-transform: lowercase;
	text-align: center;
	color: #FFF;
	background: #444;
	opacity: .85;
	position: absolute;
	left: -10000px;
	top: auto;
	z-index:2000;
	width: 1px;
	height: 1px;
	overflow: hidden;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=85)"; /*IE8*/
}
.q-multi a:hover strong { /* show item label on hover */
	bottom:0;
	left:0;
	width:100%;
	height:auto;
}
div.checked { /* checkbox overlay for selected item */
	position:absolute;
	top:0;
	left:0;
	z-index:2500;
	background-size:220px 221px;
	box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.08) inset; /* innershadow at box edges */
	width:220px;
	height:220px;
}
.q-selected div.checked { /* adding class ".q-selected" to list item makes checkbox overlay visible */
	background:url(../images/quiz/q_checked.png) no-repeat 0 0;
}
	.oldie div.checked {
		border:solid 1px #eee;
		width:218px;
		height:218px;
	}


/* buttons */
.quiz-box button, 
.quiz-box .button {
	font-family: 'Open Sans', sans-serif;
	padding: 5px 25px .35em;
	border: none;
	background-color: #c7c7c7;
	text-transform:uppercase;
	letter-spacing:.15em;
}
.quiz-box .bt-color {
	background: #874789;
}
span.ss-navigateleft,
span.ss-navigateright {
	position:relative;
	top:1px;
	opacity:0.7;
}
a.bt-close {
	position:absolute;
	top:10px;
	right:10px;
	color:#c9c9c9;
}
#bt-start {
	margin-top:30px;
}
#bt-start,
#bt-next {
	padding-left: 32px;
}
#bt-prev {
	padding-right: 32px;
}
.quiz-box .button-row p {
	font-size:1.077em;
	color:#808080;
	position:absolute;
	left:50%;
	width:50%;
	margin-left:-185px;
	padding:5px 0 0;
	text-align:center;
}
.quiz-box .button-row p a {
	color:#696969;
}
.quiz-box .button-row p a:hover {
	color:#000;
}
.skip {
	background:url(../images/quiz/icon_skip.png) no-repeat 0 0;
	background-size:18px 18px;
	margin-left:2px;
	padding-left:20px;
}


/* quiz progress */
#q-progress {
	width:160px;
	background:#FFF;
	border:solid 1px #C9C9C9;
	position:absolute;
	bottom:-28px;
	left:50%;
	margin-left:-80px; /* negative half of element width */
}
#q-progress .bar {
	background:#C9C9C9;
	height:10px;
}
#quiz01 .bar {
	width:12.5%;
}
#quiz02 .bar {
	width:25%;
}
#quiz03 .bar {
	width:37.5%;
}
#quiz04 .bar {
	width:50%;
}
#quiz05 .bar {
	width:62.5%;
}
#quiz06 .bar {
	width:75%;
}
#quiz07 .bar {
	width:87.5%;
}
#quiz08 .bar {
	width:100%;
}


/* specific quiz slides */
#quiz01 .content {
	text-align:center;
	padding:85px 140px 10px;
}

#quiz02 .content {
	text-align:center;
	padding:85px 70px 10px;
}

#quiz04 .content {
	padding-right:140px;
	padding-left:140px;
}


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),  
only screen and (-moz-min-device-pixel-ratio: 1.5),  
only screen and (-o-min-device-pixel-ratio: 3/2),  
only screen and (min-device-pixel-ratio: 1.5) {
  .skip {
	  background-image:url(../images/quiz/icon_skip@2x.png);
  }
  div.checked { /* checkbox overlay for selected item */
	  background-image:url(../images/quiz/q_checked@2x.png);
  }
}
