@charset "UTF-8";
/* CSS Document */

/* general backgrounds, borders, colors ------ */
body {
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 20%, #efefef 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#f7f7f7), color-stop(80%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 20%,#efefef 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 20%,#efefef 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 20%,#efefef 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 20%,#efefef 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
#hed-wrap {
	background:#fff;
	border-bottom:1px solid #d9d9d9;
	position:relative;
	z-index:39999;
}
.boxshadow #hed-wrap {
	border:none;
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
}
.gridContainer {
	background:#fff;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
}
.progressbar {
	background:#fff url(../images/bg_progress.png) repeat-x 0 bottom !important;
}
#hed-wrap .gridContainer {
	border:none;
	background:none;
}
#title {
	background:#fff;
	border-bottom:1px solid #d9d9d9;
}
#footer {
	background:#fff;
	border-top:1px solid #d9d9d9;
}


/* header ------ */
#header h1 {
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 3px 10px;
	padding:0;
	font-size:14px;
	width:163px;
	height:59px;
	background:url(../images/logo.png) no-repeat 0 0;
}

/* search field */
#search {
	padding-top:23px;
}
#search input[type=text] {
	width: 161px;
	padding:5px 4px 3px 25px;
	outline: none;
	border:1px solid #d9d9d9;
	border-radius:5px;
	line-height:1;
	color:#b3b3b3;
	background:url(../images/icon_search.png) no-repeat 5px 50%;
} 
#search input[type=text]:focus {
	border-color:#b9b9b9;
	color:#000;
	box-shadow: inner 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
}

/* login links */
#login ul {
	list-style-type:none;
	margin:23px 0 0 0;
	padding:0;
}
#login li {
	display:inline;
	font-family:"Reenie Beanie",sans-serif;
	font-size:19px;
	margin:0 10px;
}
#login a {
	color:#e08619;
	text-decoration:none;
}
#login a:hover,
#login a:focus,
#login a:active {
	color:#000;
}

/* progress */
#progress {
	text-align:center;
}
#progress ol {
	list-style-type:none;
	margin:.5em 0;
	font-size:1.167em;
	font-weight:bold;
	color:#333;
}
#progress li {
	display:inline;
	padding:0 20px;
}
#progress strong {
	position:relative;
	top:.07em;
	font-weight:300;
	font-size:1.285em;
	color:#ed9e2b;
}

/* sub-headers ------ */
#title h2 {
	font-family:"Reenie Beanie",sans-serif;
	font-size:3.692em;
	font-weight:normal;
	line-height:1em;
	margin:0;
	padding:.25em 0 0 7.6271%;
}
#tertiary h3 {
	font-family:"Reenie Beanie",sans-serif;
	font-size:1.916em;
	font-weight:normal;
	line-height:1em;
	color:#000;
	text-shadow:0 1px 0 #fff;
	margin:0;
	padding:0;
}

/* right column ------ */
#tertiary {
	font-size:92.3%;
	font-weight:300;
	color:#737373;
}
#tertiary .content {
	padding:0 10px 10px;
}


/* footer ------ */
#footer {
	text-align:center;
	color:#999;
}

/* general ------ */
p {
	margin:0 0 1em;
}
.float-l {
	float:left;
}
.float-r {
	float:right;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.helper,
.note,
.option {
	font-size:.916em;
}
.instruction em {
	font-style:normal;
	color:#999999;
}
.light {
	color:#a6a6a6;
}


/* links ------ */
a {
	color:#337ba3;
	text-decoration:none;
}
a:hover,
a:active,
a:focus {
	color:#000;
	text-decoration:underline;
}
nav a,
nav a:visited {
	color:#666;
}
nav a:hover,
nav a:active,
nav a:focus {
	color:#000;
	text-decoration:none;
}
a.ss-icon {
	color:#999;
}
a.ss-icon:hover,
a.ss-icon:active,
a.ss-icon:focus {
	color:#555;
	text-decoration:none;
}
a.ss-icon span {
	position:relative;
	top:.25em;
	font-size:1.23em;
	line-height:.85em;
	margin-right:0.2em;
}

/* form elements ------ */
input[type=email],
input[type=text],
input[type=password] {
	padding:.25em .5em;
	border:solid 1px #d9d9d9;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus {
	border-color:#999;
}
label {
	color:#777;
} 
select {
	padding:.25em;
}
form p.instruction {
	margin-bottom:2em;
}
form fieldset p {
	margin-bottom:.75em;
}

/* forms: in-field input labels */
form.label-infield fieldset p { 
	position: relative; 
}
form.label-infield label {
	color:#AAA;
} 
form.label-infield p label { 
	position: absolute; 
	top: 0; 
	left: 0;
}
form.label-infield p br {
	display: none;
}
form.label-infield fieldset p input {
	display: block;
}
form.label-infield fieldset p label {
	display: block;
	margin: .3em .5em;
}

/* forms: status messages */
input.error {
	border-color:#e08619;
}
.status-msg {
	font-weight:normal;
}
.error,
.pw-weak {
	color:#e08619; /* orange */
}
.pw-good {
	color: #398BC0;/* blue */
}
.pw-strong {
	color:#5baa5d; /* green */
}

/* buttons ------ */
button,
.button {
	font-size: 12px;
	line-height: .95em;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border: 1px solid #ccc;
    color: #fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    padding: 6px 15px 5px;
    display: inline-block;
    vertical-align: middle;
    outline: none; 
	border:1px solid #b3b3b3;
	background: #b3b3b3;  /* Old browsers */
	background: -moz-linear-gradient(top,  #b5b5b5 0%, #969696 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5b5b5), color-stop(100%,#969696)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5b5b5 0%,#969696 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5b5b5 0%,#969696 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5b5b5 0%,#969696 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5b5b5 0%,#969696 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}
button:hover,
button:focus,
button:active,
a.button:hover,
a.button:focus,
a.button:active,
.prod-edit-links a:hover,
.prod-edit-links a:focus,
.prod-edit-links a:active { /* applied event to custom-color buttons */
	color:#fff;
	border-color:#555 !important;
	background: #555 !important;
	text-decoration:none;
}
.bt-color{
	border-color:#5baa5d;
	background:#5baa5d; /* Old browsers */
	background: -moz-linear-gradient(top,  #88d48c 0%, #6bb36e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88d48c), color-stop(100%,#6bb36e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #88d48c 0%,#6bb36e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #88d48c 0%,#6bb36e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #88d48c 0%,#6bb36e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #88d48c 0%,#6bb36e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d48c', endColorstr='#6bb36e',GradientType=0 ); /* IE6-9 */
}
.bt-favored {
	font-weight:bold;
}
.bt-light {
	color:#4d4d4d;
	text-shadow:0 1px 0 #fff;
	border-color:#d4d4d4;
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f6f6 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.bt-light:hover,
.bt-light:focus,
.bt-light:active {
	color:#eee;
	text-shadow:0 -1px 0 rgba(0,0,0,0.7);
}
.button .ss-icon {
	position:relative;
	top:.2em;
	font-size:1.33em;
	line-height:.55em;
	margin-right:0.2em;
}
.button-row {
	margin-top:2em;
	padding:20px;
	text-align:center;
	border-top:1px solid #CCC;
}

/* create account buttons */
#bt-fb-connect,
#bt-account-email {
	line-height:1.3;
	padding:.75em 15px;
	color:#1e477f;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	border-color:#d4d4d4;
	background: -moz-linear-gradient(top,  #ffffff 2%, #f6f6f6 4%, #efefef 96%, #e7e7e7 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(4%,#f6f6f6), color-stop(96%,#efefef), color-stop(98%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 2%,#f6f6f6 4%,#efefef 96%, #e7e7e7 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 2%,#f6f6f6 4%,#efefef 96%, #e7e7e7 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 2%,#f6f6f6 4%,#efefef 96%, #e7e7e7 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 2%,#f6f6f6 4%,#efefef 96%, #e7e7e7 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
button#bt-fb-connect { /* fb login in button tag */
	width:215px;
}
a#bt-fb-connect { /* fb login in A tag*/
	width:184px;
}
a#bt-fb-connect-s { /* fb login without button chrome */
	display:inline-block;
	width:167px;
	margin:0 10px 0 .7em;
	cursor:pointer;
}
#bt-fb-connect span,
#bt-fb-connect-s span {
	display:block;
	height:22px;
	margin:0;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bt_connect-fb.png) no-repeat 50% 50%;
}
#bt-fb-connect span {
	height:2.6em;
}
#bt-fb-connect:hover,
#bt-account-email:hover {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.3);
}
#bt-create-account,
#bt-log-in {
	border-color:#5baa5d;
	background:#5baa5d;
}

/* sub-columns ------ */
.grid {
}
.col5 {
	width:4.9%;
}
.col35 {
	width:34.9%;
}
.col40 {
	width:39.9%;
}
.col45 {
	width:44.9%;
}
.col50 {
	width:49.9%;
}
.col60 {
	width:59.9%;
}

/* follow ------ */
#follow-moms h3 {
	font-size:1.33em;
	font-weight:300;
	color:#407c40;
	margin:.75em 0 1em;
	border-bottom:1px solid #ccc;
}
#follow-moms p.instruction,
ul.follow-moms {
	font-size:.923em;
}
ul.follow-moms {
	margin:0 0 3em;
	padding:0;
	list-style-type:none;
}
.follow-moms li {
	width:13.65%;
	margin:0 1.5%;
	float:left;
}
.follow-moms img {
	width:82px;
	border:solid 1px #EEE;
	margin-bottom:5px;
	cursor:pointer;
}
.follow-moms p {
	position:relative;
	margin-bottom:.5em;
	min-height:2.5em;
}
.follow-moms li button {
	
}
.follow-moms .mom {
	font-weight:bold;
}
.follow-moms .tags {
	font-size:.916em;
	color:#5BAA5D;
}
.follow-moms .check {
	position:absolute;
    top: -23px;
    right: 5px;
    font-size: 1.167em;
    line-height: 1;
    color: #FFFFFF;
	background:#68C16B;
    padding: 0.45em 0.35em 0.12em;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
.following img,
.follow-moms li img:hover,
.follow-moms lie img:focus {
	border:solid 1px #5EB564;
}
a.more-friends {
	display:block;
	width:100%;
	max-width:82px;
	min-height:70px;
	border:solid 1px #d9d9d9;
	background:#e8e8e8;
	color:#808080;
	text-shadow:0 1px 0 #fff;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
}
a.more-friends strong {
	display:block;
	font-size:2em;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
a.more-friends:hover,
a.more-friends:focus {
	border:solid 1px #c9c9c9;
	background:#d8d8d8;
}
.option .info,
.option a.info {
	font-size:1.17em;
	color:#337BA3;
}

/* modal windows  ------ */
.modal-wrap{ 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
    z-index:40001;
	display:none; 
}
.modal-overlay { 
	position: absolute; 	
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	display: block;
	background-color:#f5f5f5;
    opacity:.85; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
    filter:alpha(opacity=85); 
	z-index: 40002; 
}
.vertical-offset { /* determines vertical positioning */
	float:left; 
	height:50%; 
	margin-bottom:-200px; /* should be approx. half modal window height. a calculated height may be defined as an inline style. */
}
.modal-box { 
	clear:both; 
	width: 480px; 
	position: relative; 
	z-index: 40003; 
	left: 50%; 
	margin-left:-240px;
	background:#fff;
	border:1px solid #d9d9d9;
	box-shadow:1px 1px 4px rgba(0,0,0,0.35);
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.35);
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.35);
}

/* modal box type, colors and spacing */
.modal-box {
	font-size:.92em;
	color:#8c8c8c;
}
.modal-box h2 {
	font-size:2em;
	font-family:"Reenie Beanie",sans-serif;
	font-weight:normal;
	line-height:1em;
	color:#333;
	margin:0;
	padding:5px 20px 3px;
	border-bottom:1px solid #b3b3b3;
}
.modal-box h3 {
	font-size:1.33em;
	font-weight:300;
	color:#407c40;
	margin:.75em 0 .5em;
	border-bottom:1px solid #ccc;
}
.modal-box h3 em.info-link {
	font-size:.75em;
	font-style:normal;
	float:right;
	margin-top:.4em;
}
.modal-box .content {
	padding:10px 20px;
}
.modal-box input[type=email],
.modal-box input[type=text],
.modal-box input[type=password],
.modal-box label {
	font-size:1.33em; /* equiv to 16px, based on 12px base for modal window */
	width:58%;
}
.modal-box .status-msg {
	width:37%;
	position:absolute;
	top:0;
	right:0;
}
.modal-box .pw-strong,
.modal-box .pw-good,
.modal-box .pw-weak {
	top:.5em;
}
.modal-box .note {
	text-align:center;
	margin-top:1em;
}
.modal-box .button-row {
	margin-top:1em;
	padding:10px 20px;
	text-align:center;
	border-top:1px solid #b3b3b3;
}

/* specific modal windows */
#create-account select {
	width:100%;
	margin-bottom:1em;
}
#login-window .helper {
	margin:0 0 2em .7em;
}

/* notifications ------ */
.notification {
	clear:both;
	font-size:.846em;
	width:460px;
	margin: 0.5em auto;
	padding:0.3em 10px 0.5em;
	text-align:center;
	background:#e0effd;
	border:solid 1px #bbd9f7;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.notification strong.ss-icon {
	position:relative;
	top:3px;
	font-size:1.36em;
	margin-right:0.2em;
	color:#337BA3; /* blue */
	text-shadow:0 1px #fff;
}
.n-alert {
	background:#fef3d2; /* yellow oranges */
	border-color:#f8d363;
}
.n-alert strong.ss-icon {
	color:#E49319; /* orange */
}
.n-success {
	background:#E2F2E2; /* greens */
	border-color:#AFD8AF;
}
.n-success strong.ss-icon {
	color:#68C16B; /* green */
}
.n-error {
	background:#ffeaea; /* reds */
	border-color:#ed9b9b;
}
.n-error strong.ss-icon {
	color:#c43434; /* red */
}

/* build list ------ */

/* page columns background */
#buildlist {
	background:#fff url(../images/bg_cols-lr.png) repeat-y 0 0;
}

/* title bar menu */
#buildlist #title h2 {
	padding-left:8.75%;
}
#title-links ul {
	list-style-type:none;
	margin: 2.5em 12px 0;
    padding: 0;
    text-align: right;
}
#title-links ul li {
	display:inline;
}
#title-links #print {
	position:absolute;
	top:15px;
	right:10px;
}

/* categories menu */
#categories {
	font-size:.923em;
	padding:0 1.166em 1em;
}
#categories ul {
	margin-bottom:1em;
	padding-left:0;
}
#categories ul li {
	text-indent: -1em;
    margin: 1em 0 1em 1em;
}
#categories li a {
	padding:.25em .333em;
}

/* build list baby gear table */
#babygear {
	border-bottom:solid 1px #d9d9d9;
}
#babygear th,
#babygear td { 
	padding:7px;
	text-align:center;
}
#babygear th {
	font-weight:normal;
	font-size:.846em;
	color:#8c8c8c;
	padding-bottom:4px;
	border-left:solid 1px #d4d4d4;
}
#babygear th:first {
	border-left:none;
}
#babygear td {
	padding-top:9px;
	padding-bottom:9px;
	vertical-align:middle;
	border-top:solid 1px #d9d9d9;
}
#babygear td.own {
	width:7%;
}
.own label {
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
#babygear th.item,
#babygear td.item {
	text-align:left;
	padding-right:15px;
}
#babygear .rating {
}
.rating .eggs {
	overflow:auto;
	width:60px;
}
.egg {
	width:12px;
	height:14px;
	float:left;
	position:relative;
	background:url(../images/icon_empty-egg.png) no-repeat 0 0;
}
.egg-full {
	background:url(../images/icon_full-egg.png) no-repeat 0 0;
}
#babygear th.when {
	width:13%;
}
#babygear td.when {
	font-size:.923em;
	color:#999;
}
#babygear .priority {
}
#babygear tr:hover {
	background-color:#f9f9f9;
}
.priority-high,
.priority-med {
	text-indent:-9999px;
	overflow:hidden;
	width:18px;
	height:18px;
	margin:0 auto;
	background:url(../images/icon_priority.png) no-repeat 0 0;
}
.priority-med {
	background-position: 0 -38px;
}
.prod-thumb {
	width:62px;
	float:left;
}
.prod-filled .prod-thumb img {
	width:60px;
	border:solid 1px #ccc;
}
.prod-desc { 
	position: relative;
	margin-left:70px;
}
.prod-desc h3 { 
	font-size:1em;
	line-height:1.153em;
	margin:0 0 0.25em;
}
.prod-filled .prod-category {
	color:#407c40;
}
.prod-note { 
	position:absolute;
	top:4.3em;
	font-size:.846em;
	color:#888;
	padding:2px 0 0px 19px;
	background:url(../images/icon_note.png) no-repeat 0 0;
}
.prod-links { 
	margin:4px 0;
}
.prod-edit-links {
	font-size: .923em;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: absolute;
	background: #999;
	top: -9px;
	right: -200px;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.prod-edit-links ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.prod-edit-links li {
	float:left;
	margin:0;
	padding:0;
	border-left:solid 1px #e6e6e6;
}
.prod-edit-links li:first-child {
	border-left:none;
}
.prod-edit-links a {
	color:#eee;
	display:block;
	padding:6px 10px 4px;
} 
.prod-edit-links a span {
	padding-left:3px;
	position:relative;
	top:-1px;
} 
.prod-filled .prod-edit-links {
	height: 0;
	overflow: hidden;
	-webkit-transition: all 200ms 75ms;
	-moz-transition: all 200ms 75ms;
	-ms-transition: all 200ms 75ms;
	-o-transition: all 200ms 75ms;
	transition: all 200ms 75ms;
}
.prod-filled:hover .prod-edit-links,
.prod-filled:focus .prod-edit-links {
	height:2em;
}


/* babygear list: custom checkboxes (based on work by Wufoo, Ryan Seddon and Lea Verou) */
#babygear input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 21px;
	height:1px;
}
#babygear input[type='checkbox'] + label {
    margin: 0;
    clear: left;
    padding: 2px 0 1px 21px;
    cursor: pointer;
    background: url(../images/icons_checkboxes.png) no-repeat 50% 0; 
}

/* change from unchecked to checked graphic */
#babygear input[type='checkbox']:checked + label {
    background-position: 50% -50px;
}

/* for older browsers: normal checkboxes */
.oldie #babygear input[type='checkbox'] {
    opacity: 1;
    float: none;
    width: auto;
	height:auto;
}
.oldie #babygear input[type='checkbox'] + label {
    margin: 0;
    clear: left;
    padding: 0;
    cursor: pointer;
    background: none; 
}
